/* Background styling */

/* Container styling */
.salary-container {
  background-image: url("../../images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

/* Ant Design table styling */
.ant-table {
  border-radius: 10px;
  overflow: hidden;
}

.ant-table-thead > tr > th {
  background-color: #1890ff;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px;
}

.ant-table-tbody > tr > td {
  font-size: 15px;
  text-align: center;
  padding: 14px;
}
